COMPOSE_PROJECT_NAME=baopu
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=baopu_learning
MYSQL_USER=baopu
MYSQL_PASSWORD=baopu123

REDIS_PASSWORD=redis123

RABBITMQ_USER=baopu
RABBITMQ_PASSWORD=baopu123

WEB_PORT=8081
BAOPU_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8081

DINGTALK_APP_KEY=your_app_key
DINGTALK_APP_SECRET=your_app_secret
DINGTALK_AGENT_ID=your_agent_id
DINGTALK_CORP_ID=your_corp_id

OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=your_bucket
OSS_ACCESS_KEY_ID=your_access_key_id
OSS_ACCESS_KEY_SECRET=your_access_key_secret
